<img src="http://oci02.img.iteso.mx/identidad_de_instancia_2018/ITESO/Logos%20ITESO/Logo-ITESO-Principal.jpg">

<center> <font color= #004A94> <font size = 6> Lic. Ingeniería Financiera </font> <br> <br> <font color= #047CFB> <font size = 4>I.F. Francisco Ricardo Rodriguez Ramirez - if705783@iteso.mx </font>

<center><font color= #004A94> <font size = 6> Microestructura y Sistemas de Trading </font> <br> <br>

<center><font color=#42c29b><font size=5> Laboratorio 2: Behavioral Finance </font> <br> <br>

# Resumen

# Código

In [4]:
import pandas as pd
import datos
import funciones as fn
import numpy as np
import principal as pr

In [11]:
pr.datos

,order,opentime,type,size,symbol,openprice,s/l,t/p,closetime,closeprice,commission,taxes,swap,profit,tiempo,pips,pips_acm,profit_acm
0,24316034,2019-08-27 06:57:50,buy,0.04,xauusd,1529.21000,1523.000,1543.0000,2019-08-27 09:16:01,1533.69000,0.0,0,0,17.92,6.718267e+16,-44.8,0.0,17.92
1,24334215,2019-08-27 17:06:20,buy,0.01,eurjpy,117.66400,116.950,118.7000,2019-08-29 06:38:16,117.37400,0.0,0,0,-2.73,1.094856e+18,2900.0,2900.0,15.19
2,24342155,2019-08-27 19:25:39,buy,0.05,eurjpy,117.34600,116.950,119.7000,2019-08-28 21:01:24,117.45200,0.0,0,0,5.00,7.466587e+17,-1060.0,1840.0,20.19
3,24373260,2019-08-28 17:11:33,buy,0.01,eurusd,1.10791,1.104,1.1175,2019-08-29 06:38:28,1.10818,0.0,0,0,0.27,3.923108e+17,-2.7,1837.3,20.46
4,24392415,2019-08-29 06:35:27,buy,0.01,gbpusd,1.22024,1.208,1.2370,2019-08-29 06:37:23,1.21990,0.0,0,0,-0.34,9.399577e+14,3.4,1840.7,20.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79,25148355,2019-09-24 20:09:52,sell,0.06,xauusd,1532.02000,1538.000,0.0000,2019-09-24 21:18:43,1525.66000,0.0,0,0,38.16,3.347384e+16,63.6,10961.9,210.31
80,25148480,2019-09-24 20:11:20,sell,0.02,xauusd,1531.50000,1538.000,0.0000,2019-09-24 21:18:46,1525.63000,0.0,0,0,11.74,3.278508e+16,58.7,11020.6,222.05
81,25148522,2019-09-24 20:12:41,sell,0.01,xauusd,1531.86000,1538.000,0.0000,2019-09-24 21:18:49,1525.66000,0.0,0,0,6.20,3.215304e+16,62.0,11082.6,228.25
82,25159294,2019-09-25 01:53:47,sell,0.06,xauusd,1531.06000,1537.000,0.0000,2019-09-25 15:24:31,1527.40000,0.0,0,0,21.96,3.941664e+17,36.6,11119.2,250.21
83,25159303,2019-09-25 01:54:46,sell,0.01,xauusd,1531.28000,1537.000,0.0000,2019-09-25 15:24:35,1527.36000,0.0,0,0,3.92,3.937207e+17,39.2,11158.4,254.13

In [12]:
pr.df_tabla_1

             medida  valor                             descripcion
0       Ops totales    0.0                     Operaciones totales
1         Ganadoras    0.0                   Operaciones ganadoras
2       Ganadoras_c    0.0         Operaciones ganadoras de compra
3       Ganadoras_v    0.0          Operaciones ganadoras de venta
4        Perdedoras    0.0                  Operaciones perdedoras
5      Perdedoras_c    0.0        Operaciones perdedoras de compra
6      Perdedoras_v    0.0         Operaciones perdedoras de venta
7     Media(Profit)    0.0           Mediana profit de operaciones
8       Media(Pips)    0.0          Mediana de pips de operaciones
9     r_efectividad    0.0    Ganadoras Totaes/Operaciones Totales
10     r_proporcion    0.0  Perdedoras Totales/Operaciones Totales
11  r_efectividad_c    0.0   Ganadoras Compras/Operaciones Totales
12  r_efectividad_v    0.0    Ganadoras Ventas/Operaciones Totales